:root {
  --primary: light-dark(#e8dcba, #1e2c36);
  --secondary: light-dark(#f0c37b, #75a7b9);
}

body {
  background-color: var(--primary);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -9999;
}

.card-wrapper,
.card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
