@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("primatives.css");

:root {
  --white: #e8dcba;
  --maize: #f0c37b;
  --sapphire: #293f76;
  --blue-black: #2d2a29;

  /* -- */

  --primary: light-dark(var(--white), var(--sapphire));
  --secondary: light-dark(var(--maize), #75a7b9);
  --text: light-dark(#222, #fff);
  --text-00: color-mix(in srgb, var(--text) 0.0001%);
  --text-05: color-mix(in srgb, var(--text) 5%);
  --text-10: color-mix(in srgb, var(--text) 10%);
  --text-25: color-mix(in srgb, var(--text) 25%);
  --text-30: color-mix(in srgb, var(--text) 30%);

  /* --card-bg: light-dark(rgb(255 255 255 / 50%), rgb(0 0 0 / 50%)); */
  --card-bg: var(--primary);
  --title-font: "Nunito", serif;
  --body-font: "PT Sans", sans-serif;
  --stack-gap: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .icon-plain {
    --icon-invert: 1;
  }
}

/* - Tag Styles - */

html {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-family: var(--body-font);
  background-color: var(--primary);
}

a {
  color: inherit;
}

h1 {
  font-family: Sacramento, serif;
  font-size: 5rem;
}

h2 {
  font-family: var(--title-font);
  font-size: 1.75rem;
}

h3 {
  font-family: var(--title-font);
  font-size: 1.5rem;
}

h4 {
  font-family: var(--title-font);
  font-size: 1.25rem;
}

h5 {
  font-family: var(--title-font);
  font-size: 1rem;
}

header {
  --row-gap: 0.5rem;

  position: absolute;
  top: 1rem;
  right: 1rem;
  left: 1rem;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  .background-colour {
    font-size: 0.75rem;
  }

  &.show {
    opacity: 1;
  }
}

iconify-icon {
  font-size: 1.5rem;
}

.header-left {
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: var(--text-25);
  }
}

#shader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-end;
  width: 95%;
  height: 100svh;
  margin: auto;
  overflow: hidden;
  text-align: start;

  .hero-text {
    padding-block-end: 1rem;
    font-size: 20.5vw;
    line-height: 1;
  }

  .hero-caption {
    font-size: 5vw;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.show {
      opacity: 1;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1rem;
  background-color: var(--text-05);
  border: 1px solid var(--text-10);
  border-radius: 0.5rem;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: background-color;

  &:hover {
    background-color: var(--text-10);
  }
}

.badge {
  width: fit-content;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  background-color: var(--text-10);
  border: 1px solid var(--text-10);
  border-radius: 100vw;
}

.button {
  padding: 0.5rem;
  text-decoration: none;
  background-color: var(--text-10);
  border: 1px solid var(--text-10);
  border-radius: 0.25rem;
  transition-timing-function: ease-in-out;
  transition-duration: 100ms;

  &:hover {
    background-color: var(--text-25);
  }
}

.keywords-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  align-items: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    list-style: none;

    + ul {
      padding-block-start: 0.5rem;
      margin-block-start: 0.5rem;
      border-block-start: 1px solid var(--text-10);
    }
  }

  span {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.coldfusion-plain {
  content: "";
}

.edge-spacer {
  padding-inline: 1rem;
}

.content-wrapper {
  max-width: 100ch;
  padding: 1rem;
  margin-inline: auto;
  border-radius: 1rem;
}

.experience-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .date {
    font-style: italic;
  }
}

.project-wrapper {
  columns: 1 auto;
  column-gap: 0.5rem;

  > div + div {
    margin-top: 0.5rem;
  }
}

.project {
  --prose-flow: 0.5em;

  position: relative;
  overflow: hidden;
  background-image: none;
  break-inside: avoid;

  .description {
    margin-block-end: auto;
  }

  .background-img {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    opacity: 0;
    transition-timing-function: inherit;
    transition-duration: inherit;
    transition-property: opacity;
  }

  &:hover .background-img {
    opacity: 0.2;
  }
}

.preload * {
  transition: none !important;
}

footer {
  padding: 1rem;

  .copyright {
    margin: auto;
    font-size: 0.75rem;
    text-align: center;
  }
}

.tooltip {
  position: relative;
}

.tooltiptext {
  position: absolute;
  top: 150%;
  left: 50%;
  z-index: 1;
  visibility: hidden;
  width: 120px;
  padding: 5px 0;
  margin-left: -60px;
  font-size: 0.75rem;
  color: var(--text);
  text-align: center;
  background-color: var(--text-10);
  border-radius: 100vw;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.tooltiptext::after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  content: "";
  border-color: transparent transparent var(--text-10);
  border-style: solid;
  border-width: 5px;
}

@media (width >= 768px) {
  html {
    font-size: 20px;
  }

  .hero {
    width: max-content;

    .hero-text {
      font-size: 10.5vw;
    }

    .hero-caption {
      font-size: 2vw;
    }
  }

  .keywords-wrapper {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);

    ul + ul {
      padding-block-start: 0;
      padding-inline-start: 0.5rem;
      margin-block-start: 0;
      margin-inline-start: 0.5rem;
      border-block-start: 0;
      border-inline-start: 1px solid var(--text-10);
    }
  }

  .project-wrapper {
    columns: 2 auto;
  }
}

.debug {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  width: 50%;
  font-size: 3vw;
  background: rgb(0 0 0 / 50%);
}
