@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #082f49;
    --foreground: #f0f9ff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.content
{
  transition-property: transform;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition-out 
{
  transform: translate(100vw, 0);
}

.page-transition-in
{
  transform: translate(-100vw, 0);
}
